html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container-limit {
  max-width: 1200px;
  padding: 0 40px;
}

.section-offset {
  padding: 40px 0;
}

.section-title {
  margin: 0;
}

/* header */
.header__container {
  align-items: center;
  padding: 30px 40px;
}

.header__logo {
  margin-right: auto;
}

.menu__item:not(:last-child) {
  position: relative;
  margin-right: 40px;
}

.menu__item_show:hover {
  cursor: pointer;
}

.menu__item_show:hover .menu__submenu {
  visibility: visible;
}

.menu__submenu {
  position: absolute;
  flex-direction: column;
  visibility: hidden;
}

.menu__show {
  align-items: center;
  margin-bottom: 13px;
}

.menu__link_show {
  margin-right: 5px;
}

.submenu__item {
  padding: 13px 10px;
  outline: 1px solid coral;
}

/* hero */
.hero {
  position: relative;
}

.hero__container {
  align-items: center;
}

.hero__left {
  max-width: 588px;
  flex-direction: column;
}

.hero__title {
  margin: 0;
  margin-bottom: 5px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 25px;
}

.hero__link {
  max-width: max-content;
  padding: 10px 40px;
  outline: 1px solid coral;
}

.hero__img {
  position: absolute;
  /* left: 800px;
  top: 185px; */
  /* right: 220px;
  bottom: 154px; */
  right: 100px;
  bottom: 2px;
}

/* about */
.about__title {
  margin-bottom: 11px;
}

.about__list {
  padding-left: 213px;
}

.about__road {
  flex-direction: column;
  align-items: center;
}

.about__subtitle {
  width: 100%;
  max-width: 280px;
  margin: 0;
  padding: 20px 5px;
  outline: 1px solid coral;
  text-align: center;
}

.about__text {
  max-width: 600px;
  margin: 0;
  padding: 16px 50px;
  outline: 1px solid coral;
}

.about__item {
  position: relative;
}

.about__img_first {
  position: relative;
  right: 81px;
}

/* advantages */
.advantages__title {
  margin-bottom: 200px;
}

.advantages__text {
  margin: 0;
}

.advantages__text:not(:last-child) {
  margin-bottom: 54px;
}

.advantages__left {
  padding-right: 40px;
}

.advantages__right {
  position: relative;
  align-items: center;
}

.advantages__road {
  position: absolute;
  left: 0;
  bottom: 0;
}

.advantages__compas {
  position: absolute;
  left: 113px;
  bottom: 113px;
}

.advantages__list {
  display: none;
}

/* updates */
.updates__title {
  margin-bottom: 70px;
}

.update-card__title {
  margin: 0;
}

.updates__item {
  width: max-content;
}

.update-card__content {
  flex-direction: column;
  width: max-content;
}

.update-card__img {
  max-width: 300px;
  max-height: 300px;
}

.updates__update-card {
  flex-direction: column;
  width: max-content;
}

/* join-us */
.join-us__title {
  margin-bottom: 100px;
}

.join-us__contant {
  padding: 0 110px;
}

.join-us__subtitle {
  margin: 0;
}

.social__item {
  align-items: center;
}

.join-us__descr {
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

/* footer */
.footer__descr {
  margin: 0;
}

@media (max-width: 768px) {
  .nav__item {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .footer__left {
    margin-bottom: 20px;
  }
}
