html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.section-offset {
  padding: 40px 0;
}

.section-title {
  margin: 0;
}

.btn {
  width: max-content;
  padding: 10px 20px;
  outline: 1px solid coral;
}

/* header */
.header {
  padding: 30px 0;
}

.header__logo {
  margin-right: auto;
}

.menu__item:not(:last-child) {
  position: relative;
  margin-right: 40px;
}

.menu__item_show:hover {
  cursor: pointer;
}

.menu__item_show:hover .menu__submenu {
  visibility: visible;
}

.menu__submenu {
  position: absolute;
  flex-direction: column;
  visibility: hidden;
}

.menu__show {
  align-items: center;
  margin-bottom: 13px;
}

.menu__link_show {
  margin-right: 5px;
}

.submenu__item {
  padding: 13px 10px;
  outline: 1px solid coral;
}

/* hero */
.hero {
  position: relative;
}

.hero__container {
  position: relative;
  align-items: center;
  min-height: 600px;
}

.hero__left {
  max-width: 588px;
  flex-direction: column;
}

.hero__title {
  margin: 0;
  margin-bottom: 5px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 25px;
}

.hero__link {
  max-width: max-content;
  padding: 10px 40px;
  outline: 1px solid coral;
}

.hero__img {
  position: absolute;
  /* left: 800px;
  top: 185px; */
  /* right: 220px;
  bottom: 154px; */
  right: 10px;
  bottom: 100px;
}

/* about */
.about__title {
  margin-bottom: 11px;
}

.about__list {
  flex-direction: column;
  padding-left: 213px;
}

.about__subtitle {
  width: 280px;
  margin: 0;
  padding: 20px 5px;
  outline: 1px solid coral;
  text-align: center;
}

.about__road {
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.about__img_first {
  position: relative;
  right: 28px;
}

.about__text {
  width: 600px;
  height: max-content;
  margin: 0;
  padding: 16px 50px;
  outline: 1px solid coral;
}

/* advantages */
.advantages__title {
  margin-bottom: 85px;
}

.advantages__contant {
  align-items: center;
}

.advantages__left {
  flex-direction: column;
  width: 40%;
  margin-right: 70px;
}

.advantages__text {
  margin: 0;
}

.advantages__text:not(:last-child) {
  margin-bottom: 54px;
}

.advantages__list {
  display: none;
}

.advantages__right {
  position: relative;
  width: 60%;
  flex-direction: column;
  align-items: center;
}

.advantages__img {
  position: relative;
  width: 452px;
  height: 452px;
}

.advantages__compas {
  position: absolute;
  left: 25%;
  top: 25%;
}

/* updates */
.updates__title {
  margin-bottom: 70px;
}

.updates__list {
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.updates__item {
  width: 300px;
}

.updates__item:not(:last-child) {
  margin-right: 80px;
}

.updates__update-card {
  flex-direction: column;
  /* width: 300px; */
}

.update-card__img {
  /* width: 300px;
  height: 300px; */
  margin-bottom: 10px;
}

.update-card__content {
  flex-direction: column;
}

.update-card__title {
  margin: 0;
  margin-bottom: 5px;
}

/* join-us */
.join-us__title {
  margin-bottom: 100px;
}

.join-us__list {
  justify-content: center;
  padding: 0 110px;
}

.join-us__item {
  align-items: center;
  margin-right: 68px;
}

.join-us__descr {
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.join-us__subtitle {
  margin: 0;
}

.join-us__link-svg {
  width: 50px;
  height: 50px;
}

/* footer */
.footer {
  padding: 30px 0 60px;
}

.footer__left {
  width: 340px;
  margin-right: auto;
}

.footer__descr {
  margin: 0;
}

.nav__item {
  flex-direction: column;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__subnav {
  flex-direction: column;
}

/* login */
.login {
  min-height: 600px;
}

.login__container {
  align-items: center;
  min-height: 600px;
}

.login__descr {
  margin: 0;
  margin-right: auto;
}

.login__form {
  flex-direction: column;
  align-items: center;
}

.form__inputs {
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form__title {
  margin: 0;
  margin-bottom: 50px;
}

.form__input {
  width: 350px;
  height: 30px;
}

.form__input:not(:last-child) {
  margin-bottom: 50px;
}

.form__btn {
  margin-bottom: 10px;
}
