@{
    ViewData["Title"] = "Login";
}

<section class="login">
    <div class="container login__container flex">
    <p class="login__descr">
        Начни день вместе с&nbsp;Draw Route!
    </p>
    <form class="login__form flex" action="https://jsonplaceholder.typicode.com/posts" method="post">
        <h2 class="form__title">
        Вход
        </h2>
        <div class="form__inputs flex">
        <input class="form__input" type="email" name="email" placeholder="логин/почта" required>
        <input class="form__input" type="password" name="password" placeholder="пароль" required>
        </div>
        <button class="btn btn-reset form__btn">Войти</button>
        <span>
        Нет аккаунта? <a class="form__sign-up" asp-area="" asp-controller="Login" asp-action="Registration">Зарегистрироваться</a>
        </span>
    </form>
    </div>
</section>