
@{
    ViewData["Title"] = "Registration";
}

<section class="sign-up">
    <div class="container sign-up__container flex">
    <form class="sign-up__form flex" action="https://jsonplaceholder.typicode.com/posts" method="post">
        <h2 class="form__title">
        Регистрация
        </h2>
        <input class="form__input" type="text" name="first-name" placeholder="имя" required>
        <input class="form__input" type="text" name="second-name" placeholder="фамилия" required>
        <input class="form__input" type="email" name="email" placeholder="почта" required>
        <input class="form__input" type="password" name="password" placeholder="пароль" required>
        <button class="btn btn-reset form__btn">Зарегистрироваться</button>
    </form>
    </div>
</section>

